.navbar-brand {
  font-size: 2rem;
}

.icons {
  font-size: 2rem;
}

#note-title,
#note-body {
  border: none;
  padding: 0;
}

#note-title {
  font-size: 3rem;
}

#note-body {
  width: 100%;
}

.list-container {
  padding-left: 0;
}

.list-container, .card {
  height: calc(100vh - 72px);
  border-bottom: none;
}

.list-container, .list-group-item {
  border-right: none;
  border-left: none;
}

.list-group-item span,
.icons,
.delete-note {
  cursor: pointer;
}

.list-group {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

input:focus,
textarea:focus {
  outline-width: 0;
}

.delete-note {
  font-size: 1.4rem;
}